@{
    ViewBag.Title = "About me";
}

<h2 class="text-center">About me</h2>
<div class="row">
    <div class="col-md-4">
        <img alt="it`s me" src="~/Images/C2joeWmZ_10 .jpg" style="width:300px;height:400px;" />
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Derkach Nicholas</h3>
        <p>
            Студент Київського національного університету імені Тараса Шевченка,
            Факультету радіофізики електроніки та Комп'ютерних систем,
            четвертого курсу напряму комп'ютерна інженерія
        </p>
    </div>
</div>