@{
    ViewBag.Title = "Portfolio";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<br/>
<h4 class="text-center">Це мої роботи з 3д моделювання, які я роблю у вільний час</h4>
<br/>
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <img alt="portfolio-1" src="~/Images/portfolio-1.png" style="width:300px;height:400px;"/>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <img alt="portfolio-2" src="~/Images/portfolio-2.png" style="width:300px;height:400px;"/>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <img alt="portfolio-3" src="~/Images/portfolio-3.jpg" style="width:300px;height:400px;"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <img alt="portfolio-4" src="~/Images/portfolio-4.jpg" style="width:300px;height:400px;"/>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <img alt="portfolio-5" src="~/Images/portfolio-5.png" style="width:300px;height:400px;"/>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <img alt="portfolio-6" src="~/Images/portfolio-6.jpg" style="width:300px;height:400px;"/>
    </div>
</div>
